{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KABUPATEN PAMEKASAN</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <h1>4 Kabupaten Di Madura</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/bangkalan">Kabupaten Bangkalan </a></li>
            <li><a href="http://127.0.0.1:8000/sampang">Kabupaten Sampang</a></li>
            <li><a href="http://127.0.0.1:8000/pamekasan">Kabupaten Pamekasan</a></li>
            <li><a href="http://127.0.0.1:8000/sumenep">Kabupaten Sumenep</a></li>
        </ul>
    </nav>

    <section id="app3">
        <center><h2>Profil Kabupaten Pamekasan</h2></center>
        <img src="{% static 'img/Pamekasan.jpeg' %}" alt="">
        <p align="justify">Kabupaten Pamekasan merupakan salah satu daerah di kawasan Pulau Madura. Kabupaten Pamekasan lahir dari proses sejarah yang cukup panjang. Istilah Pamekasan sendiri baru dikenal pada sepertiga abad ke-16, ketika Ronggosukowati mulai memindahkan pusat pemerintahan dari Kraton Labangan Daja ke Kraton Mandilaras. Memang belum cukup bukti tertulis yang menyebutkan proses perpindahan pusat pemerintahan sehingga terjadi perubahan nama wilayah ini. Begitu juga munculnya sejarah pemerintahan di Pamekasan sangat jarang ditemukan bukti-bukti tertulis apalagi prasasti yang menjelaskan tentang kapan dan bagaimana keberadaannya.
            Secara astronomis, Kabupaten Pamekasan berada pada 6°51’ – 7°31’ Lintang Selatan dan 113°19’ – 113°58’ Bujur Timur. Luas wilayah Pamekasan adalah 732,85 km2, yang dibagi menjadi 13 kecamatan, 178 desa dan 11 kelurahan. Pusat pemerintahannya ada di Kecamatan Pamekasan.
            Adapun batas-batas wilayah Kabupaten Pamekasan adalah sebagai berikut:
            • Sebelah Utara	:	Laut Jawa
            • Sebelah Barat	:	Kabupaten Sampang
            • Sebelah Selatan	:	Selat Madura
            • Sebelah Timur	:	Kabupaten Sumenep
            Selain dikenal Kota Batik dan Gerbang Salam, Kabupaten Pamekasan juga dinobatkan sebagai Kabupaten Pendidikan dikarenakan banyaknya lembaga pendidikan mulai dari tingkat taman kanak-kanak sampai perguruan tinggi. Predikat sebagai Kabupaten Pendidikan tentu bukan hanya sekedar predikat, akan tetapi hal itu diraih atas keberhasilan Kabupaten Pamekasan dalam menggalakkan pendidikan, sehingga dari tahun ke tahun terus bertabur prestasi baik dari tingkat lokal, regional, hingga internasional.</p>
    </section>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d506813.6020276532!2d112.91246349022296!3d-7.070063990493313!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd9d6b50c056771%3A0x3027a76e3cd8a80!2sKabupaten%20Pamekasan%2C%20Jawa%20Timur!5e0!3m2!1sid!2sid!4v1699733718565!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
</body>

</html>
