{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KABUPATEN SAMPANG</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <h1>4 Kabupaten Di Madura</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/bangkalan">Kabupaten Bangkalan</a></li>
            <li><a href="http://127.0.0.1:8000/sampang">Kabupaten Sampang</a></li>
            <li><a href="http://127.0.0.1:8000/pamekasan">Kabupaten Pamekasan</a></li>
            <li><a href="http://127.0.0.1:8000/sumenep">Kabupaten Sumenep</a></li>
        </ul>
    </nav>

    <section id="sampang">
        <center><h2>Profil Kabupaten Sampang</h2></center>
        <img src="{% static 'img/Sampang.jpeg' %}" alt="">
        <p align="justify">Kabupaten Sampang merupakan salah satu kabupaten yang terletak di Pulau Madura selain Kabupaten Bangkalan, Pamekasan dan Sumenep. Kabupaten Sampang terletak ± 100 Km dari Surabaya, dapat melalui Jembatan Suramadu kira-kira 1,5 jam atau dengan perjalanan laut kurang lebih 45 menit dilanjutkan dengan perjalanan darat ± 2 jam. Kabupaten ini terletak pada 113º08' hingga 113º39' Bujur Timur dan 06º05' hingga 07º13' Lintang Selatan.
            Secara umum wilayah Kabupaten Sampang berupa daratan, terdapat satu pulau yang terpisah dari daratan bernama Pulau Mandangin/Pulau Kambing. Luas wilayah Kabupaten Sampang yang mencapai 1233,33 km 2 habis dibagi menjadi 14 kecamatan dan 186 desa/Kelurahan.
            Wilayah Kabupaten Sampang bertabrakan dengan :
            Sebelah Utara : Laut Jawa
            Sebelah Timur : Kabupaten Pamekasan
            Sebelah Barat : Kabupaten Bangkalan
            Sebelah Selatan : Selat Madura
            Karena lokasi Kabupaten Sampang berada di sekitar garis khatulistiwa, maka seperti kabupaten lainya di Madura, wilayah ini mempunyai perubahan iklim sebanyak 2 jenis setiap tahun, musim kemarau dan musim penghujan. Bulan Oktober sampai Maret merupakan musim penghujan sedangkan musim kemarau terjadi pada bulan April sampai September.</p>
    </section>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1013566.0698058938!2d112.07855900587693!3d-7.097871828230238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd82eea5961fe7d%3A0x3027a76e3cd8a90!2sKabupaten%20Sampang%2C%20Jawa%20Timur!5e0!3m2!1sid!2sid!4v1699733638573!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
        </div>
</body>

</html>
