{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KABUPATEN BANGKALAN</title>

    <link rel="stylesheet" href= "{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <header>
        <h1>4 Kabupaten Di Madura</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/bangkalan">Kabupaten Bangkalan</a></li>
            <li><a href="http://127.0.0.1:8000/sampang">Kabupaten Sampang</a></li>
            <li><a href="http://127.0.0.1:8000/pamekasan">Kabupaten Pamekasan</a></li>
            <li><a href="http://127.0.0.1:8000/sumenep">Kabupaten Sumenep</a></li>
        </ul>
    </nav>

    <section id="bangkalan">
        <center><h2>Profil Kabupaten Bangkalan</h2></center>
        <img src="{% static 'img/Bangkalan1.jpeg' %}" alt="">
        <p align="justify">Kabupaten Bangkalan merupakan salah satu kabupaten yang berada di Pulau Madura. Bangkalan sering juga disebut sebagai Surabaya Utara karena letaknya yang bersebelahan dengan Surabaya. Letak geografis wilayah Daerah Tingkat II Kabupaten Pasuruan berada pada posisi sangat strategis yaitu jalur regional juga jalur utama perekonomian Surabaya – Malang dan Surabaya – Banyuwangi.
            Kabupaten Bangkalan dengan luas wilayah 1.260,14 km2 yang berada dibagian paling barat dari Pulau Madura terletak diantara koordinat 1120 40’06” – 1130 08’04” Bujur Timur serta 60 51’39” – 70 11’39” Lintang Selatan. Adapun batas-batas wilayahnya adalah sebagai berikut :
            Sebelah Utara : Laut Jawa
            Sebelah Timur : Kabupaten Sampang
            Sebelah Selatan dan Barat : Selat Madura
            Dilihat dari Topografi, maka daerah Kabupaten Bangkalan berada pada ketinggian 2 – 100 m diatas permukaan air laut. Wilayah yang terletak di pesisir pantai, seperti kecamatan Sepulu, Bangkalan, Socah, Kamal, Modung, Kwanyar, Arosbaya, Klampis, Tanjung Bumi, Labang dan Kecamatan Burneh mempunyai ketinggian antara 2 – 10 m diatas permukaaan air laut. Sedangkan wilayah yang terletak di bagian tengah mempunyai ketinggian antara 19 – 100 m diatas permukaan air laut, tertinggi adalah Kecamatan Geger dengan ketinggian 100 m.
            Kabupaten Bangkalan memiliki Pelabuhan Kamal sebagai pintu gerbang Madura dari Jawa, dimana terdapat layanan kapal feri yang menghubungkan Madura dengan Surabaya (Pelabuhan Tanjung Perak). Saat ini juga telah beroperasi Jembatan Suramadu (Surabaya-Madura) yang merupakan jembatan terpanjang di Indonesia. Kabupaten Bangkalan merupakan salah satu wilayah yang masuk dalam kawasan metropolitan Surabaya, yaitu Gerbangkertosusila (Gresik, Bangkalan, Mojokerto, Surabaya, Sidoarjo, Lamongan).
            Kabupaten Bangkalan terdiri atas 18 kecamatan yang dibagi lagi atas sejumlah 273 desa dan 8 kelurahan. Pusat pemerintahannya berada di Kecamatan Bangkalan.
            Sejak diresmikannya Jembatan Suramadu, Kabupaten Bangkalan menjadi gerbang utama Pulau Madura serta menjadi salah satu destinasi wisata pilihan di Jawa Timur, baik dari keindahan alamnya (Bukit Jaddih, Gunung Geger, dsb); budaya (kerapan sapi, dsb), serta wisata kuliner di antaranya adalah nasi bebek khas Madura (Bebek Sinjay).</p>
    </section>
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253420.05670801722!2d112.74507619018972!3d-7.045857360272597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd819888981e67b%3A0x3027a76e3cd8a70!2sKabupaten%20Bangkalan%2C%20Jawa%20Timur!5e0!3m2!1sid!2sid!4v1699733176533!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="maps"></iframe>
        </div>
</body>

</html>
