<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I LOVE MADURA</title>
</head>

<body>
    <header>
        <h1>4 Kabupaten Di Madura</h1>
    </header>

    <nav>
        <ul>
            <li><a href="http://127.0.0.1:8000/app1">Kabupaten Bangkalan </a></li>
            <li><a href="http://127.0.0.1:8000/app2">Kabupaten Sampang</a></li>
            <li><a href="http://127.0.0.1:8000/app3">Kabupaten Pamekasan</a></li>
            <li><a href="http://127.0.0.1:8000/app4">Kabupaten Sumenep</a></li>
        </ul>
    </nav>

    <section id="app4">
        <h2>Profil Kabupaten Sumenep</h2>
        <p align="justify">Kabupaten Sumenep yang berada di ujung timur Pulau Madura merupakan wilayah yang unik karena terdiri dari wilayah daratan dengan pulau yang tersebar berjumlah 126 pulau ( berdasarkan hasil sinkronisasi Luas Wilayah Kabupaten Sumenep ) yang terletak di antara 113°32’54”- 116°16’48” Bujur Timur dan di antara 4°55′ – 7°24′ Lintang Selatan.
            Sumenep memiliki semboyan “Sumekar”, akronim dari “Sumenep Karaton”, karena semenjak dahulu wilayah ini terdapat puluhan Keraton/Istana sebagai pusat pemerintahan sang Adipati. Untuk kepentingan pemasaran pariwisata, Sumenep mempunyai branding wisata “Sumenep The Heart Purity”, julukan tersebut didasarkan pada tingkah pola masyarakatnya yang selalu menjunjung tinggi tata krama serta keramahan kepada setiap tamunya maupun kondisi geografis alamnya yang selalu memberikan keramahan dan kenyamanan bagi setiap wisatawan.
            Kota Sumenep juga dikenal dengan sebutan Bumi Sumekar. Selain itu beberapa pulau di Sumenep juga ada julukannya tersendiri, semisal Kepulauan Kapajang untuk gabungan dari nama Pulau Kangean, Paleat, dan Sepanjang, karena di pulau-pulau inilah taman-taman laut berupa terumbu karang dan kehidupan laut lainnya berkembang pesat. Selain itu Pulau Kangean juga lebih dikenal dengan sebutan Pulau Cukir, karena di wilayah inilah fauna khas Sumenep berupa ayam bekisar banyak dikembangkan. Sekarang hewan unggas ini menjadi maskot Sumenep dan juga Provinsi Jawa Timur.
            Kabupaten Sumenep terdiri atas 27 kecamatan, yang dibagi lagi atas sejumlah 328 desa dan 4 kelurahan. Luas Wilayah Kabupaten Sumenep adalah 2.093,45 km², terdiri dari pemukiman seluas 179,32 km², areal hutan seluas 423,95 km², rumput tanah kosong seluas 14,68 km² , perkebunan/tegalan/semak belukar/ladang seluas 1.130,19 km², kolam/pertambakan/air payau/danau/waduk/rawa seluas 59,07 km² , dan lain-lainnya seluas 63,41 km² . Untuk luas lautan Kabupaten Sumenep yang potensial dengan keanekaragaman sumber daya kelautan dan perikanannya seluas + 50.000 km².
            Wilayah Kabupaten Sumenep berbatasan dengan :
            Sebelah selatan : Selat Madura dan Laut Bali
            Sebelah Utara : Laut Jawa
            Sebelah Barat : Kabupaten Pamekasan
            Sebelah Timur : Laut Jawa dan Laut Flores
            Kabupaten Sumenep termasuk dalam kategori daerah tropis. Seperti daerah lain di Indonesia, musim hujan di Sumenep dimulai bulan Oktober hingga Maret, dan musim kemarau bulan April hingga September. Rata-rata curah hujan di Sumenep adalah 1.479 mm. Berdasarkan data tahun 2011 Temperatur Suhu udara di Sumenep tertinggi terjadi di bulan September – Nopember (31,7 °C). Suhu udara relatif konsisten sepanjang tahun, dengan suhu rata-rata 30 derajat Celsius.</p>
    </section>

</body>

</html>
